<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/public/dynamic-head.js" defer></script>
    <script src="/js/public/main.js" defer></script>
    <script src="/js/admin/tournaments/loadTournaments_updated.js"></script>
    <script src="/js/public/createForm_updated.js" defer></script>
    <title>2026 | Tournament Details</title>

    <!-- Vercel Web Analytics -->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

    <!-- Vercel Speed Insights -->
    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</head>
<body class="bg-gradient2 text-white">
    <!-- Page header -->
    <header class="h-[90px] w-full content-center bg-black text-white fixed z-50">
        <!-- Content Wrapper -->
        <div class="mx-auto flex h-fit w-full max-w-[1500px] justify-between max-md:justify-between">
            <!-- GameFest logo -->
            <div class="w-fit content-center max-md:ml-4">
                <a href="/"><img class="mx-4 w-[140px]" src="/images/logos/Logo-large.png" /></a>
            </div>

            <!-- Tabs -->
            <div class="hidden w-fit flex-row content-center items-center justify-between px-4 md:block">
                <a href=""
                    class="rounded-[6px] border-3 border-yellow-300 bg-yellow-300 px-4 py-2 font-semibold tracking-[2px] text-black">GAMEFEST
                    2026</a>
                <!-- Past Events -->
                <a class="mx-2 text-[14px] font-semibold tracking-[2px] duration-200 ease-in-out hover:border-b-[1px]"
                    href="/#Archives">ARCHIVES</a>
                <!-- GameStore -->
                <a class="mx-2 text-[14px] font-semibold tracking-[2px] duration-200 ease-in-out hover:border-b-[1px]"
                    href="/#merch">GAMESTORE</a>
                <!-- Sponsor -->
                <a class="mx-2 text-[14px] font-semibold tracking-[2px] duration-200 ease-in-out hover:border-b-[1px]"
                    href="/sponsor">SPONSOR</a>
                <!-- About -->
                <a class="mx-2 text-[14px] font-semibold tracking-[2px] duration-200 ease-in-out hover:border-b-[1px]"
                    href="/about">ABOUT US</a>
                <!-- Contact Us -->
                <a class="mx-2 text-[14px] font-semibold tracking-[2px] duration-200 ease-in-out hover:border-b-[1px]"
                    href="/#contact">CONTACT</a>
            </div>

            <!-- Hamburger Icon -->
            <div id="hamburgerBtn" class="mr-4 w-fit md:hidden h-fit my-auto">
                <!-- Hamburger Icon -->
                <svg id="openMobileMenu" class="" xmlns="http://www.w3.org/2000/svg" width="58" height="58"
                    viewBox="0 0 24 24" aria-hidden="true" role="img">
                    <path d="M4 6.5H20" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                    <path d="M4 12H20" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                    <path d="M4 17.5H20" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                </svg>

                <!-- closeMenu Icon -->
                <svg id="closeMenu" class="hidden" xmlns="http://www.w3.org/2000/svg" width="58" height="58"
                    viewBox="0 0 24 24" aria-hidden="true" role="img">
                    <path d="M6 6L18 18" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                    <path d="M18 6L6 18" stroke="#fff" stroke-width="2" stroke-linecap="round" />
                </svg>
            </div>
        </div>
    </header>

    <!-- Mobile dropdown menu -->
    <section id="mobile-menu"
        class="text-5x fixed top-[78px] z-40 h-full w-full origin-top animate-[var(--animate-open-menu)] flex-col content-center justify-center overflow-x-hidden overflow-y-hidden bg-black text-white backdrop-opacity-20 hidden">
        <!-- <button class="text-8xl self-end px-6 ">
            &times;
        </button> -->
        <nav class="my-auto mt-[200px] flex min-h-screen flex-col items-center gap-y-2 py-8" aria-label="mobile">
            <a href="/"
                class="w-content tracking py-5 text-center text-2xl font-medium tracking-[5px] duration-200 hover:brightness-75">HOME</a>
            <span id="Archives-mobile"
                class="w-content py-5 text-center text-2xl font-medium tracking-[5px] duration-200 hover:cursor-pointer hover:brightness-75">ARCHIVES</span>
            <div id="dropdown-mobile"
                class="border-gray mt mt-[0] hidden h-fit w-[60%] max-w-[300px] origin-top animate-[var(--animate-open-menu)] rounded-2xl border-2 border-white/15 bg-black p-4 text-center text-white">
                <a class="text-xl font-bold tracking-[6px] duration-200 hover:brightness-75" href="/2024">2024</a>
                <hr class="text-gray mx-auto my-3 w-[60%] rounded-2xl border-2 border-white/15" />
                <a class="text-xl font-bold tracking-[6px] duration-200 hover:brightness-75" href="/2025">2025</a>
            </div>
            <!--GameStore -->
            <a href="/#merch"
                class="w-content py-5 text-center text-2xl font-medium tracking-[5px] duration-200 hover:brightness-75">GAMESTORE</a>
            <!-- Sponsor -->
            <a href="/Sponsor"
                class="w-content py-5 text-center text-2xl font-medium tracking-[5px] duration-200 hover:brightness-75">SPONSOR</a>
            <!--About -->
            <a href="/about"
                class="w-content py-5 text-center text-2xl font-medium tracking-[5px] duration-200 hover:brightness-75">ABOUT</a>
            <!--Contact Us -->
            <a href="/#contact"
                class="w-content py-5 text-center text-2xl font-medium tracking-[5px] duration-200 hover:brightness-75">CONTACT</a>

            <nav class="mt-[60px] mb-4 flex w-full flex-wrap justify-center gap-x-8 px-4">
                <a class="h-10 w-10" href="https://www.tiktok.com/@gamefestguyana"><img src="/images/icons/tiktok.png"
                        alt="TikTok" class="h-full w-full object-contain" /></a>
                <a class="h-10 w-10" href="https://discord.gg/eqWkeKtRcW"><img src="/images/icons/discord-logo.png"
                        alt="Discord" class="h-full w-full object-contain" /></a>
                <a class="h-10 w-10" href="http://wa.me/5926552280"><img src="/images/icons/whatsapp.png" alt="WhatsApp"
                        class="h-full w-full object-contain" /></a>
                <a class="h-10 w-10" href="https://www.facebook.com/p/Game-Fest-Guyana-61555989910571/"><img
                        src="/images/icons/facebook-new.png" alt="Facebook" class="h-full w-full object-contain" /></a>
                <a class="h-10 w-10" href="https://www.instagram.com/gamefestguyana"><img
                        src="/images/icons/instagram-new.png" alt="Instagram"
                        class="h-full w-full object-contain" /></a>
            </nav>
        </nav>
    </section>

    <!-- Fullscreen overlay spinner -->
    <div id="loadingOverlay" class="hidden fixed inset-0 z-50 h-[92%] w-full items-center justify-center bg-black/90 backdrop-blur-sm flex mt-[85px]">
        <div class="mx-auto  h-12 w-12 animate-spin rounded-full border-4 border-white/20 border-t-white"></div>
    </div>


    <section class="h-[90px] w-full"></section>
    <div class="mt-[30px] ml-[15px]">
      <a href="/2026">
        <h1 class="text-2xl text-white/70 hover:text-white hover:cursor-pointer duration-150">&#x21A9; BACK</h1>
      </a>
    </div>

    <!-- Hero -->
    <section class="h-content w-full bg-gradient2 pt-[180px] pb-[120px]">
        <h1 class="text-center text-5xl font-black tracking-[4px] text-gamefest md:text-7xl">Tournament Details</h1>
    </section>

    <!-- Tournament Details -->
    <section class="py-12">
        <div id="tournament-details-container" class="mx-auto flex max-w-[1000px] flex-wrap items-center justify-center gap-x-6 gap-y-10 px-4">
        </div>
    </section>

    <!-- Tournament Registration -->
     <section class="py-12">

        <h1 class="font-black tracking-[5px] text-4xl text-center">SIGN UP</h1>
        <div id="signup-form"></div>
     </section>


</body>
</html>